.fondo{
    
background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


}
.avatar{

    border-radius: 50%;
}
.fotos{
    height:300px ;
}
.aboutme{
    color: #2a5e95
}

html{
    scroll-behavior: smooth;
}
.important {
    color: #0e3658;
}
.name {
    font-family: "Saira Extra Condensed",sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color:#3d444d; 
    
    line-height: 1;
}
.profession {
    font-family: "Saira Extra Condensed",sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #3d444d; 
    
    line-height: 1;
}